# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env

# Flask / App specific
database.db
instance/
static/uploads/
static/certs/

# IDE / OS
.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Secrets
*.secret
secret_key.txt
